html {
  background: white;
  padding: 0;
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

body {
  padding: 0 15px;
  background: #C0DBD9;
}

header {
  background: #7FAFF6;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
}

header .popup-elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 15px;
  position: relative;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}

header .popup-elem summary {
  list-style: none;
  text-align: center;
  background: #A5C7F9;
  padding: 8px 15px;
  width: 206px;
}

header .popup-elem summary:hover {
  background: #b5d7f9;
  cursor: default;
}

header .popup-elem .popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: red;
  width: 400px;
  height: 400px;
  background: white;
  boz-sizing: border-box;
  color: black;
  font-size: 53px;
  line-height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .popup-elem .popup .popup-cross {
  background: #7FAFF6;
  cursor: default;
  border-radius: 5px;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  line-height: 20px;
  padding: 8px 15px;
  color: white;
}

header .popup-elem .popup .popup-cross:hover {
  background: #8FbFF6;
}

main {
  /* padding: 15px; */
}

main section {
  margin: 15px 0;
}

main .section__grid {
  background: #B3F95A;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 39fr 59fr 16fr;
      grid-template-columns: 39fr 59fr 16fr;
      grid-template-areas: ". . ." "big big .";
  grid-gap: 15px;
}

main .section__grid div {
  background: #8AD191;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 198px;
}

main .section__grid .big-cell {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: big;
}

main .section__grid div:nth-child(1) span:before {
  content: "1";
}

main .section__grid div:nth-child(2) span:before {
  content: "2";
}

main .section__grid div:nth-child(3) span:before {
  content: "3";
}

main .section__grid div:nth-child(4) span:before {
  content: "4";
}

main .section__grid div:nth-child(5) span:before {
  content: "4";
}

main .section__grid div:nth-child(6) span:before {
  content: "5";
}

main .section__reel {
  background: #88B5BF;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  grid-gap: 30px;
}

main .section__reel .reel__item {
  background: #0D89B0;
  max-height: 199px;
  /* height: auto; */
  resize: horizontal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  aspect-ratio: 5 / 4;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

footer {
  background: #7FAFF6;
  margin-top: 100px;
  height: 100px;
}
/*# sourceMappingURL=testtask-1.css.map */